function MovingRow.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 1000
pop this 1
push constant 0
pop this 3
push constant 1
pop this 2
call Constants.COLS 0
call Array.new 1
pop this 5
push pointer 0
push constant 2
push constant 3
call MovingRow.setRow 3
pop temp 0
push pointer 0
push constant 0
push this 4
call MovingRow.setLevel 3
pop temp 0
push pointer 0
return
function MovingRow.setRow 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push argument 1
pop this 0
push argument 2
pop this 4
label WHILE_EXP0
push local 0
call Constants.COLS 0
lt
not
if-goto WHILE_END0
push local 0
push this 0
push constant 1
sub
gt
push local 0
push this 0
push this 4
add
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push this 5
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END0
label IF_FALSE0
push local 0
push this 5
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function MovingRow.getRow 0
push argument 0
pop pointer 0
push this 5
return
function MovingRow.setLevel 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
call MovingRow.setDelay 2
pop temp 0
push pointer 0
push constant 2
push argument 2
call MovingRow.setRow 3
pop temp 0
push constant 0
return
function MovingRow.setDelay 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 500
pop this 1
label IF_FALSE0
push argument 1
push constant 1
gt
push argument 1
push constant 10
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push constant 43
sub
pop this 1
label IF_FALSE1
push argument 1
push constant 10
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 150
pop this 1
label IF_FALSE2
push argument 1
push constant 10
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push constant 25
sub
pop this 1
label IF_FALSE3
push constant 0
return
function MovingRow.move 0
push argument 0
pop pointer 0
push this 3
push this 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
push constant 1
add
pop this 3
push constant 0
return
goto IF_END0
label IF_FALSE0
push constant 0
pop this 3
label IF_END0
push this 0
call Constants.COLS 0
push this 4
sub
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
neg
pop this 2
label IF_FALSE1
push this 0
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
pop this 2
label IF_FALSE2
push this 0
push this 2
add
pop this 0
push pointer 0
push this 0
push this 4
call MovingRow.setRow 3
pop temp 0
push constant 0
return
function MovingRow.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
